<nav class="sidebar">
    <ul>
        <li><a href="/compose"><h3>Compose</h3></a></li>
        <li><a href="/inbox"><h3>Inbox</h3></a></li>
        <li><a href="/outbox"><h3>Outbox</h3></a></li>
    </ul>
</nav>